body {
    background-color: rgb(3, 61, 148);
    border: solid yellowgreen 15px;
    height: 100vh;
}

div.col-sm-2.letter{
    background-color: white;
    color: rgb(3, 61, 148);
    font-size: 80px;
    border: solid black 1px;
    border-radius: 15px;
    text-align: center;
    margin: 4px;
}
button#submit {
    margin-left: 50px;
    display: none;
}
button#playBtn {
    display: none;
}
h1 {
    color: white;
    font-size: 100px;
    padding-bottom: 10px;
    text-align: center;
}

#game {
    padding-bottom: 20px;
    padding-top: 50px;
}
label {
    color: white;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 50px;
}
input {
    font-size: 18px;
    width: 100px;
}
h2 { 
    color: white;
    font-size: 18px;
    font-weight: bolder;
    padding-top: 20px;
    padding-left: 50px;
}
div#msg-row.row {
    background-color: yellowgreen;
    border: solid white 2px;
    padding: 5px;
    width: 70%;
}
p#message-text {
    padding: 10px;
    color: yellowgreen;
}
em {
    font-style: normal;
    font-size: 25px;
    color: white;
}
p {
    color: white;
    font-size: 20px;
    margin: 0px;
}
p#score {
    font-size: 25px;
}
h3 {
    color: white;
}
ul {
    color: white;
    height: 100px;
    overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
ul::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
ul {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
ul#words li {
    font-size: 20px;
}