<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Boggle</title>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="../static/main.css">
</head>

<body>
  
  <div class="container" id="game">
    <div class="row">
      <div class="col-sm-4">

        <h1>Boggle Game!</h1>

        <p>High Score: {{ highscore }} in {{ nplays }} plays
        </p>

        <form class="submit-word">
          <label for="name">Word Found:</label>
          <input type="text" name="word" id="word">
          <button type="sutmit" id="submit">Submit</button>
        </form>

        <div class="row" id="timer-row">
          <p class="timer col-sm-1 text-right">60</p><p class="col-sm-2 text-left">seconds</p>
        </div>
          
        <div class="row" id="msg-row">
          <p id="score" class="col-sm-4 text-right">0</p><em class="col-sm-1 text-left">points</em>
        </div>

        <p id="message-text" class="col-sm-12">Play!</p>
        <h3>Winning Words:</h1>
        <ul id="words"></ul>
        <button id="playBtn" class="btn btn-outline-light" onClick="window.location.reload()">Play Again</button>

      </div>

      <div class="col-sm-8">
        {% for row in board %}
        <div class="row">
          {% for cell in row %}
          <div class="col-sm-2 letter">{{ cell }}</div>
          {% endfor %}
        </div>
      {% endfor %}
      </div>  

      <p>Play by entering in words that appear on the board. letters can be connected vertically, horizonally, and diagonally</p>
    
    </div>
  </div>

</body>

  <script src="http://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
  <script src="/static/boggle.js"></script>
  <script>
    let game = new BoggleGame("boggle", 60);
  </script>
</html>